<p>user: <%= github_user %></p>
<p>user.name: <%= github_user.name %></p>
<p>member of Ragnarson?: <%= github_organization_access?('Ragnarson') %></p>
<p>member of Rails?: <%= github_organization_access?('rails') %></p>
